<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody id="results">
    <tr>
    <% if @artists.present? %>
      <% @artists.each do |artist| %>
        <td><%= artist.name %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>