<table class="table" id="results">
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% if @artists.present? %>
      <% @artists.each do |artist| %>
        <td><%= artist.name %></td>
        <td><%= artist.songs.first.genre.name %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>